<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="UchPr_GlushkovEntities" connectionString="metadata=res://*/UchPrModel.csdl|res://*/UchPrModel.ssdl|res://*/UchPrModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=laptop-6ncuvg8v;initial catalog=UchPr_Glushkov;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UchPr_GlushkovEntities1" connectionString="metadata=res://*/UchPrModel.csdl|res://*/UchPrModel.ssdl|res://*/UchPrModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=laptop-6ncuvg8v;initial catalog=UchPr_Glushkov;integrated security=True;multipleactiveresultsets=True;trustservercertificate=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>